ion-tabs ion-title {
  color: var(--pkx-accent);
  font-weight: var(--pkx-text-detail-name-weight);
}

ion-tab-bar {
  --background: var(--pkx-bg);
  --color: var(--pkx-disabled);
  --color-selected: var(--pkx-accent);
  --border: 2px solid var(--pkx-accent);
}
