// The 18 Type colours as CSS variables

:root {
  --pkx-type-normal: #aaa67f;
  --pkx-type-normal-on: #000000;
  --pkx-type-fire: #f57d31;
  --pkx-type-fire-on: #ffffff;
  --pkx-type-water: #6493eb;
  --pkx-type-water-on: #ffffff;
  --pkx-type-grass: #74cb48;
  --pkx-type-grass-on: #ffffff;
  --pkx-type-electric: #f9cf30;
  --pkx-type-electric-on: #000000;
  --pkx-type-ice: #9ad6df;
  --pkx-type-ice-on: #000000;
  --pkx-type-fighting: #c12239;
  --pkx-type-fighting-on: #ffffff;
  --pkx-type-poison: #a33ea1;
  --pkx-type-poison-on: #ffffff;
  --pkx-type-ground: #dec16b;
  --pkx-type-ground-on: #000000;
  --pkx-type-flying: #a891ec;
  --pkx-type-flying-on: #000000;
  --pkx-type-psychic: #fb5584;
  --pkx-type-psychic-on: #ffffff;
  --pkx-type-bug: #a7b723;
  --pkx-type-bug-on: #000000;
  --pkx-type-rock: #b69e31;
  --pkx-type-rock-on: #000000;
  --pkx-type-ghost: #70559b;
  --pkx-type-ghost-on: #ffffff;
  --pkx-type-dragon: #7037ff;
  --pkx-type-dragon-on: #ffffff;
  --pkx-type-dark: #75574c;
  --pkx-type-dark-on: #ffffff;
  --pkx-type-steel: #b7b9d0;
  --pkx-type-steel-on: #000000;
  --pkx-type-fairy: #e69eac;
  --pkx-type-fairy-on: #000000;
}
