:host {
  position: absolute;
  inset: 0;
  pointer-events: none;
}

.backdrop {
  position: absolute;
  inset: 0;
}

.wm {
  position: absolute;
  opacity: 0.6;
}

.wm-top {
  top: -18px;
  right: -22px;
  width: 168px;
  transform: rotate(-18deg);
}

.wm-bottom {
  top: 300px;
  left: -34px;
  width: 132px;
  transform: rotate(31deg);
}
